.emoji-mart * {
  background: black;
}
.Feeds-container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  align-items: center;
  letter-spacing: normal;
  color: var(--dark-blue-grey);
}
.Feeds-box {
  box-sizing: border-box;
  overflow: auto;
  border: 1px var(--dark-blue-grey) solid;
  padding: 16px;
  width: 375px;
  max-width: 375px;
  height: 772px;
  background: #f1f4fa;
}
