.Sign-in-container {
  overflow: auto;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark-blue-grey);
}

.Sign-in-box {
  box-sizing: border-box;
  height: 772px;
  max-height: 772px;
  border: 1px var(--dark-blue-grey) solid;
  padding: 32px;
  width: 375px;
  max-width: 375px;
  background-image: linear-gradient(to bottom, #ffffff, #f1f4fa);
}

.input-with-image {
  box-sizing: border-box;
  width: 100%;
  height: 2rem;
  margin-bottom: 30px;
  padding: 20px 0 20px 0;
  border: none;
  border-bottom: 1px grey solid;
  opacity: 0.9;
  font-family: Montserrat;
  font-size: 16px;
  color: var(--dark-blue-grey);
}
.forgot-password {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  color: var(--dark-blue-grey);
}
.incorrect-password {
  margin: 32px -32px 0 -32px;
  width: auto;
  font-family: Montserrat;
  font-size: 14px;
  padding: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.02px;
  text-align: center;
  color: #838383;
  background-color: #ffcece;
}
.incorrect-password-dummy {
  margin: 32px -32px 0 -32px;
  width: auto;
  font-family: Montserrat;
  font-size: 14px;
  padding: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.02px;
  text-align: center;
  color: #838383;
  background-color: transparent;
}

.dont-have-an-acc {
  margin-top: 182px;
  font-family: Montserrat;
  font-size: 16px;
  text-align: center;
  color: var(--dark-blue-grey);
}
.dont-have-an-acc a {
  text-decoration: none;
  font-weight: 600;
  color: #177cf4;
}
