.Sign-in-container {
  overflow: auto;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark-blue-grey);
}
.Sign-in-box {
  box-sizing: border-box;
  height: 772px;
  max-height: 772px;
  border: 1px var(--dark-blue-grey) solid;
  padding: 32px;
  width: 375px;
  max-width: 375px;
  background-image: linear-gradient(to bottom, #ffffff, #f1f4fa);
}
.dont-have-an-acc {
  margin-top: 182px;
  font-family: Montserrat;
  font-size: 16px;
  text-align: center;
  color: var(--dark-blue-grey);
}
.dont-have-an-acc a {
  text-decoration: none;
  font-weight: 600;
  color: #177cf4;
}
