.emoji-mart * {
  background: black;
}
.Feeds-container {
  display: flex;
  height: 100%;
  justify-content: center;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  align-items: center;
  letter-spacing: normal;
  color: var(--dark-blue-grey);
}
.Feeds-box {
  overflow: scroll;
  border: 1px var(--dark-blue-grey) solid;
  padding: 16px;
  width: 375px;
  height: 772px;
  background: #f1f4fa;
}

.react-tenor--search-bar input {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  align-items: center;
  letter-spacing: normal;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  color: var(--dark-blue-grey);
  padding: 16px;
  outline: none;
  border: none;
}
.blue-background {
  margin: -16px -16px 0px -16px;
  width: 100%;
  height: 172px;
  padding: 16px 16px 0px 16px;
  box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.08);
  background-color: #2564ee;
}
.your-feeds {
  height: 24px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}
.write-feed-here {
  font-size: 16px;
  font-family: Montserrat;
  line-height: 1.57;
  letter-spacing: normal;
  color: rgba(31, 42, 85, 0.7);
  font-weight: 500;
  min-height: 110px;
  overflow: auto;
  height: 100%;
  max-width: 100%;
  resize: none;
  border: none;
  outline: none;
}
.write-feed-here:hover {
  border: none;
  outline: none;
}
.feeds-logout {
  float: right;
  padding-top: 2px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #ffffff;
  cursor: pointer;
}
.post-container {
  min-height: 160px;
  margin: auto;
  margin-top: -90px;
  margin-bottom: 34px;
  border-radius: 12px;
  padding: 35px 16px 70px 16px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.16);
  border: solid 0.5px #e0e7f5;
  background-color: #ffffff;
}
.post-container:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.post-textarea {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  min-height: 160px;
  height: 100%;
  border-radius: 12px;
  font-size: 16px;
  border: solid 1px #e0e7f5;
  font-family: Montserrat;
  line-height: 1.57;
  letter-spacing: normal;
  color: rgba(31, 42, 85, 0.7);
}
.feeds-post-button {
  float: right;
  margin: 15px 10px 20px auto;
  height: 16px;
  padding: 10px;
  width: 80px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  color: #ffffff;
  border-radius: 5px;
  background-color: #2a69ee;
  cursor: pointer;
}
.emoji-button,
.gif-button {
  float: left;
  margin: 15px 10px 20px auto;
  height: 16px;
  padding: 10px;
  display: flex;
  align-items: center;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  color: #ffffff;
  border-radius: 5px;
  background-color: #2a69ee;
  cursor: pointer;
}

.feeds {
  margin-top: 24px;
  padding: 16px;
  border-radius: 12px;
  background: white;
  border: solid 0.5px #e0e7f5;
  cursor: pointer;
}

.feeds:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.feeds-logout {
  margin-top: 40p;
  float: right;
  padding-top: 2px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #ffffff;
  cursor: pointer;
}
.feeds-user-info-box {
  display: flex;
  width: 100%;
}
.feeds-item-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.profile-image {
  width: 55px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
}
.user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.feeds-user-info-box-right {
  width: 90%;
  margin-top: 1px;
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
}
.user-name {
  margin-top: 2px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--dark-blue-grey);
}
.user-addon-info-box {
  display: flex;
  margin-top: 0px;
  margin-left: -2px;
}
.user-addon-info {
  display: flex;
  align-items: center;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;

  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark-blue-grey);
}
.user-addon-icon {
  height: 20px;
  width: 20px;
}
.user-addon-icon-2 {
  width: 10px;
  height: 10px;
  background-image: linear-gradient(88deg, #ffdf64 -22%, #ffd123 95%);
  margin-right: 2px;
}
.Oval-cont {
  display: flex;
  align-items: center;
  padding: 0px 2px 0px 5px;
}
.Oval {
  width: 4px;
  height: 4px;
  opacity: 0.2;
  background-color: var(--dark-blue-grey);
}
.post-time {
  height: 15px;
  opacity: 0.7;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark-blue-grey);
}
.feeds-text {
  margin-top: 16px;
  font-family: Montserrat;
  font-size: 15px;
  line-height: 1.57;
  letter-spacing: normal;
  color: rgba(31, 42, 85, 0.7);
}
