/* SIGN IN PAGE STARTS HERE */

.Sign-in-container {
  overflow: scroll;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark-blue-grey);
}
.Sign-in-box {
  border: 1px var(--dark-blue-grey) solid;
  padding: 32px;
  width: 375px;
  height: 772px;
  background-image: linear-gradient(to bottom, #ffffff, #f1f4fa);
}
.sign-in {
  width: 86px;
  height: 29px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
}
.welcome-back {
  margin-top: 8px;
  margin-bottom: 44px;
  height: 19px;
  opacity: 0.7;
  font-family: Montserrat;
  font-size: 16px;
  color: var(--dark-blue-grey);
}
.Sign-in-box input {
  box-sizing: border-box;
  width: 100%;
  height: 2rem;
  margin-bottom: 30px;
  padding: 20px 0 20px 0;
  border: none;
  border-bottom: 1px grey solid;
  opacity: 0.9;
  font-family: Montserrat;
  font-size: 16px;
  color: var(--dark-blue-grey);
}
.forgot-password {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  color: var(--dark-blue-grey);
}
.incorrect-password {
  /* box-sizing: content-box; */
  margin: 32px -32px 0 -32px;
  width: calc(100% + 44px);
  font-family: Montserrat;
  font-size: 14px;
  padding: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.02px;
  text-align: center;
  color: #838383;
  background-color: #ffcece;
}
.sign-in-button {
  margin: auto;
  width: fit-content;
  text-align: center;
  padding: 12px 52px;
  margin-top: 28px;
  border-radius: 20px;
  background-color: #2665ee;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2.46px;
  color: #ffffff;
  cursor: pointer;
}
.sign-in-button:hover {
  opacity: 0.9;
}
.dont-have-an-acc {
  margin-top: 182px;
  font-family: Montserrat;
  font-size: 16px;
  text-align: center;
  color: var(--dark-blue-grey);
}
.dont-have-an-acc a {
  text-decoration: none;
  font-weight: 600;
  color: #177cf4;
}
/* SIGN IN PAGE ENDS HERE */
